<div class="container-fluid">
  <div style="text-align: center"><h1>Ajouter un nouveau post</h1></div>
  <form (ngSubmit)="onSubmitForm()" [formGroup]="PostForm">
    <label for="title">Titre</label>
    <input class="form-control" type="text" placeholder="titre" name="title" formControlName="title">
    <label for="content">Contenu</label>
    <textarea class="form-control" name="content" placeholder="contenu" formControlName="content"></textarea>
    <button [disabled]="PostForm.invalid" type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>